{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Contact</title>
{% endblock %}

{% block viewport %}
    <div class="contact_wrapper">
                <div class="top">
                    <div class="form_wrapper">
                        <div class="form_caption">CONTACT</div>
                        <form class="contact_from">
                            <input type="text" id="name_input" placeholder="Name">
                            <input type="email" id="email_input" placeholder="Email">
                            <input type="tel" id="phone_input" placeholder="Phone">
                        </form>
                    </div>
                    <div class="msg_wrapper">
                        <textarea name="message" form="contact_from"
                            id="msg_text" cols="30" rows="11" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="bot">
                    <div class="author_contact_info_grid">
                        <p>PHONE
                            <a href="#">+49 152 51982856</a>
                        </p>
                        <p>EMAIL
                            <a href="#">ZABERURA@GMAIL.COM</a>
                        </p>
                        <a href="#"><img src="{% static 'src/instagram.png' %}"></a>
                        <a href="#"><img src="{% static 'src/behance.png' %}"></a>
                        <a href="#"><img src="{% static 'src/youtube.png' %}"></a>
                    </div>
                </div>
            </div>
{% endblock %}