{% extends 'base.html' %}

{% load static %}

{% block head %}
    <title>Gallery</title>
{% endblock %}

{% block viewport %}

    <div id="container">

        <div id="slider">
            <div id="slider_left"></div>
            <div id="slider_right"></div>
        </div>

        <div id="photo_container">
            {% for item in list %}
                {% if item.photo.url == None %}
                    <img style="height: 100%;" id="image{{ forloop.counter }}" class="disabled" src="{{ item }}">
                {% else %}
                    <img style="height: 100%;" id="image{{ forloop.counter }}" class="disabled" src="{{ item.photo.url }}">
                    {% endif %}
            {% endfor %}
        </div>

        <div class="print_download_button">
            <a href="#">
                <div>DOWNLOAD</div>
            </a>
            <div>&nbsp|&nbsp</div>
            <a href="#">
                <div>PRINT</div>
            </a>
        </div>

    </div>

<script> urls_length = {{ list|length }} ; </script>
<script src="{% static 'js/gallery.js' %}"></script>

{% endblock %}