{% extends 'base.html' %}

{% load static %}


{% block head %}
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'css/projects_styles.css' %}" type="text/css"/>
{% endblock %}


{% block viewport %}

</head>
<body>

        <!-- TO BE BLOCKED OUT -->
        <div class="search-container">
            <input type="text" class="search-input"
                   placeholder="Search..." onkeydown="handleKeyPress(event)">
        </div>

        <div class="carousel">
            <div class="carousel-container">
                {% for item in list %}
                <div class="carousel-item">
                    <img src="{{ item.photo.url }}">
                    <div>{{ item.name }}</div>
                    <div>{{ item.city }} {{ item.season }} {{ item.year }}</div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- TO BE BLOCKED OUT (END)-->
{% endblock %}