<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="contact_styles.css" type="text/css" />

</head>

<body>
    <div id="wrapper">
        <div id="navbar">
            <!-- TO BE BLOCKED OUT -->

            <a href="#">
                <div id="logo">ZABEREZHNYI YURII</div>
            </a>

            <a href="#">
                <div class="nav_item active_nav_item">gallery</div>
            </a>
            <a href="#">
                <div class="nav_item">projects</div>
            </a>
            <a href="#">
                <div class="nav_item">about</div>
            </a>
            <a href="#">
                <div class="nav_item">store</div>
            </a>
            <a href="#">
                <div class="nav_item">contact</div>
            </a>

            <a><img id="flag" src="src/flag_ua.png"></a>

            <!-- TO BE BLOCKED OUT (END)-->
        </div>
        <div id="viewport">
            <!-- TO BE BLOCKED OUT -->
            <!-- FOR IVAN TO REMOVE -->
            <div class="contact_wrapper">
                <div class="top">
                    <div class="form_wrapper">
                        <div class="form_caption">CONTACT</div>
                        <form class="contact_from">
                            <input type="text" id="name_input" placeholder="Name">
                            <input type="email" id="email_input" placeholder="Email">
                            <input type="tel" id="phone_input" placeholder="Phone">
                        </form>
                    </div>
                    <div class="msg_wrapper">
                        <textarea name="message" form="contact_from"
                            id="msg_text" cols="30" rows="11" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="bot">
                    <div class="author_contact_info_grid">
                        <p>PHONE
                            <a href="#">+49 152 51982856</a>
                        </p>
                        <p>EMAIL
                            <a href="#">ZABERURA@GMAIL.COM</a>
                        </p>
                        <a href="#"><img src="./src/instagram.png"></a>
                        <a href="#"><img src="./src/behance.png"></a>
                        <a href="#"><img src="./src/youtube.png"></a>
                    </div>
                </div>
            </div>
            <!-- FOR IVAN TO REMOVE (END)-->
            <!-- TO BE BLOCKED OUT (END)-->
        </div>
    </div>
</body>

</html>