/* WHOLE PAGE DESIGN */
head, body {
    min-height: 95vh;
    background-color: #FDFDFB;
    font-size: 100%;
    color: #353535;
    font-family: "MS Sans Serif", Arial, sans-serif;
}

a:link {
    text-decoration: none;
    color: #353535;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: stretch;
    min-height: 97vh;
}

/* RIGHT SIDE, OPEN PAGE'S FRAME */
#viewport{
    flex-grow: 9;
    min-width: 500px;
    padding: 10px;
    margin: 10px;
}

/* MAIN FRAME'S INSIDES */
#photo_frame{
    height: 70vh;
    max-width: 72vw;
    margin-top: 6.5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 0.7em;
    display: inline-block
}

.print_download_button{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    opacity: 0.6;
    font-size: 0.7em;
    font-weight: 100;
    letter-spacing: 0.09em;
}

/* WIDTH IS TO BE SET IN JS/DJANGO */
/*
.slider{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 72vw;
}

.slider #left{
    width: 50%;
    cursor: w-resize
}

.slider #right{
    width: 50%;
    cursor: e-resize;
}
*/


/* LEFT SIDE, NAVIGATION BAR */
#navbar{
    margin-top: 12em;
    margin-bottom: 4em;
    margin-right: 0.65em;
    margin-left: 4em;
    flex-grow: 1;
    min-width: 100px;
}

.nav_item{
    margin-top: 1.6em;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    color: #797979;

}

.active_nav_item{
    color: #353535;
}

#logo{
    margin-bottom: 2.8em;
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 0.13em;
}

#flag{
    margin-left: -1.5px;
    margin-top: 1.8em;
    width: 30px;
}