{% extends 'base.html' %}

{% block head %}
    <title>Gallery</title>
{% endblock %}

{% block viewport %}

    <div id="container">

        <div id="slider">
            <div id="slider_left"></div>
            <div id="slider_right"></div>
        </div>

        <div id="photo_container">
            {% for photo in photos %}

                <img class="disabled" id="image{{ loop.index }}" src="{{ photo.photo_url }}">

            {% endfor %}
        </div>

    </div>

<script> urls_length = {{ photos|length }} ; </script>
<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>

{% endblock %}