{% extends 'base.html' %}

{% block head %}
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css"/>


{% endblock %}

{% block viewport %}
    <div id="container">

        <div id="slider">
            <div id="slider_left"></div>
            <div id="slider_right"></div>
        </div>




        <div id="photo_container">
            <img style="height: 100%;" src="{{ urls[0] }}" id="image">
            <img style="height: 100%;" src="{{ urls[1] }}" id="image_2">
            <img style="height: 100%;" src="{{ urls|last }}" id="image_3">
        </div>



        <div class="print_download_button">
            <a href="#">
                <div>DOWNLOAD</div>
            </a>
            <div>&nbsp|&nbsp</div>
            <a href="#">
                <div>PRINT</div>
            </a>
        </div>

        <script> const urls = {{ urls|tojson }} ; </script>
        <script src="{{ url_for('static', filename='js/gallery.js') }}"></script>


    </div>


{% endblock %}