{% extends 'base.html' %}

{% block head %}
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css"/>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}

{% block viewport %}
    <div id="photo_frame">

        <div id="slider">
            <div id="slider_left"></div>
            <div id="slider_right"></div>
        </div>


        <img style="height: 100%;" src="{{ urls[0] }}" id="image">


        <script>copyDimensions();</script>

        <div class="print_download_button">
            <a href="#">
                <div>DOWNLOAD</div>
            </a>
            <div>&nbsp|&nbsp</div>
            <a href="#">
                <div>PRINT</div>
            </a>
        </div>

        <script>

            const urls = {{ urls|tojson }} ;
            imageIndex = 0;

            document.getElementById("slider_right").addEventListener("click", function() {

            if(imageIndex == urls.length){ imageIndex = 0; }
            imageIndex++;
            var image = document.getElementById("image");
            image.src = urls[imageIndex];
            });

            document.getElementById("slider_left").addEventListener("click", function() {

            if(imageIndex == 0){ imageIndex = urls.length; }
            imageIndex--;
            var image = document.getElementById("image");
            image.src = urls[imageIndex];
            });
        </script>
    </div>


{% endblock %}