{% extends 'base.html' %}

{% block head %}
    <title>Projects</title>
{% endblock %}

{% block viewport %}

    <div class="search-container">
       <input type="text" class="search-input"
              placeholder="Search..." onkeydown="handleKeyPress(event)">
    </div>

    <div class="carousel_container">
       <div class="carousel">

           {% for project in projects %}

               <div class="carousel-item">
                   <a href="/projects/{{ project.name }}">
                       <img src="{{ project.cover_url }}">
                   </a>
                   <div>{{ project.name }}</div>
                   <div>{{ project.city }} {{ project.season }} {{ project.year }}</div>
               </div>

           {% endfor %}

       </div>
    </div>

    <script src="{{ url_for('static', filename='js/projects.js') }}"></script>
{% endblock %}