{% extends 'base.html' %}

{% block head %}
    <title>Projects</title>
{% endblock %}

{% block viewport %}

    <div class="search-container">
       <input type="text" class="search-input"
              placeholder="Search..." onkeydown="handleKeyPress(event)">
    </div>

    <div class="carousel_container">
       <div class="carousel">
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
               <div>PROJECT'S ORIGINAL NAME</div>
               <div>DATE AND PLACE</div>
           </div>
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
           </div>
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
           </div>
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
           </div>
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
           </div>
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
           </div>
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
           </div>
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
           </div>
           <div class="carousel-item">
               <img src="photos/isayas.jpg">
           </div>
       </div>
    </div>

    <script src="{{ url_for('static', filename='js/projects.js') }}"></script>
{% endblock %}